* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* stops horizontal scrollbar */
}


.Footer {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between; /* pushes left + right apart */
    align-items: center;
    padding: 0 3vw;
    color: white;
    position: relative;
    bottom: 0;
}

.left_f, .right_f {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}



.Footer a {
  cursor: pointer;
  z-index: 1000;
}