.SlideTwo{
  background: black;
  position: relative; /* container for absolute children */
  height: 125vh;
  min-height: 100vh;
  padding-bottom: 0;
  padding: 0;  /* Remove all padding */
  margin: 0;   /* Remove all margin */

}

.SlideTwo_Content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh; /* moves the car slightly down from heading */
    margin: 8vw;
  
  }
  
  .yellowCar {
  width: 65vw;  /* adjust based on your preference */
  height: auto;
  max-height: 250vh;
  object-fit: contain;
  z-index: 10;
    margin-top: -95vh;
  }

.skills{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 3vw;
    z-index: 5;
  }
  
  .skills h2{
    font-size: 3vw;
    letter-spacing: 0.01em; 
    padding: 0;
    margin: 0; 
  }
  
  .card{
    position: absolute;
    width: 18vw;
    height: 20vw;
    background: linear-gradient(180deg, rgb(216, 197, 197), black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;     /* Center horizontally */
    text-align: center;
    border:solid whitesmoke 0.1vw;
    margin-top: 15vh; /* moves the car slightly down from heading */
    padding-top: 0.1vh;       /* push h2 a bit from top */
    z-index: 1;
    /* padding: 2vh 1vw;  */
    
  }
  
.card1 {
  top: 5%;
  left: 5%;
}

.card2 {
  top: 5%;
  right: 5%;
}

.card3 {
  padding: 0;
  margin: 0;
  bottom: 5%;
  left: 5%;
}

.card4 {
  padding: 0;
  margin: 0;
  bottom: 5%;
  right: 5%;
}


.card h2{
  height: fit-content;
  margin-top: 5vh;
  margin-bottom: 0;
  padding: 0%;
  font-size: 2.5vw;

}

.cards {

z-index: 1; /* Cards in the back */
}

.card-content {
  margin-top: 1vh;  
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-items: flex-start;     /* left align for bullet effect */
  position: relative;
  align-items: flex-start; 
  
  }

  .card-content p {
  padding-left: 1vw;
  margin: 0;              /* remove browser default margins */
  line-height: 1.4;       /* tighter spacing */
  font-size: 1.2vw;       /* adjust as needed */
  position: relative;         /* local positioning for its own bullet */
  color: black;
  padding-left: 1vw; 

}

  .SlideTwo_Content img{
    z-index: 10;
  }
  
  

.card-content p::before {
    content: "•";
    position: absolute;
    color: black;
    font-size: 1.5vw;
    top: 0%;
    line-height: 1;
    left: 0;
}