.SlideThree{
  background: linear-gradient(to bottom, black 20%, black 0%, rgb(208, 205, 205) 80%);
  position: relative; /* container for absolute children */
  height: 125vh;
  min-height: 100vh;
  padding-bottom: 0;
  padding: 0;  /* Remove all padding */
  margin: 0;   /* Remove all margin */
}

.projects h2{
    padding: 0;
    margin: 0;
    font-size: 3vw;
    letter-spacing: 0.01em; 
    display: flex;
    justify-content: center;
}


.card{
    z-index: 100;
    background: linear-gradient(180deg, black, white);
    justify-content: flex-start; /* pushes content from top, not center */
}

/* Card positions */
.cardA {
  top: 20%;               /* near top of container */
  left: 20%;
  transform: translateX(-50%);
}

.cardB {
  top: 0;             /* slightly lower under h2 */
  left: 50%;
  transform: translateX(-50%);
}

.cardC {
  top: 20%;               /* same vertical as cardA */
  right: 10%;
}


.BMW_M3 {
  position: relative;
  margin-top: 45vh;
  margin-right: -5vw;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  margin-top: 0;
}

.thumbnails {
  width: 10vw;
  height: 20vh;
  /* background: white; */
  border-radius: 1vh;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3vh;
}

.thumbnails h2{
    margin: 0;
    padding: 0;
}

.links {
  width: 8vw;
  height: 4vh;
  background: #000;
  color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vh;
  font-weight: 500;
  transition: 0.3s ease;
    position: relative; /* ADD THIS */
  cursor: pointer;
}

.links:hover {
  background: white;
  color: black;
  transform: scale(1.05);
}


.thumbnails img{
  width: 15vw;
  height: 18vh;
  border-radius: 3vh;
}

.card-content a{
z-index: 1000;
/* text-decoration: dashed; */
}